.home-page-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  background-position: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000;
  color: var(--main-text-color);
  background-image: url("https://cdn.shopify.com/s/files/1/1644/5247/files/1_e5ca8b54-f425-48b7-ba74-edbb51089bd3.jpg?v=1593439585");
}

.home-page-top {
  position: absolute;
  top: 5%;
  left: 5%;
}

.home-page-top{
    color:var(--primary-note);
}


.home-content-container {
  position: absolute;
  top: 20%;
  left: 5%;
}

.home-content {
  display: flex;
  align-items: center;
  margin: 2rem 0rem 1rem 0rem;  
}
.home-content span {
  display: block;
  width: 5%;
  border-top: 2px solid #ccc;
}
.home-content h4 {
  margin-left: 1rem;
}
.home-content-description {
  width: 40%;
}
.home-content-description h1 {
  font-size: 2rem;
  font-family: sans-serif;
  line-height: 2.5rem;
  margin: 0 0 0.3rem;
  padding-right: 0;
}


.home-page-features {
  padding: 1rem 1rem;
}

.home-page-features ul li {
  list-style-type: circle;
  font-family: sans-serif;
  line-height: 2rem;
}

.home-page-button {
  padding: 0.5rem 3.2rem;
  margin-left: 2rem;
  margin-top: 0.6rem;
  cursor: pointer;
  border: transparent;
  outline: transparent;
  border-radius: 4px;
  font-weight: bold;
}

.login {
  background-color: var(--white);
  color: black;
}
.note {
  background-color: var(--primary-note);
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .home-page-wrapper {
    height: 112vh;
    background-position: center;
  }
  .home-content-container {
    position: absolute;
    top: 10%;
    left: 5%;
  }
  .home-content-description {
    width: 80%;
  }
}
